*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.col-md-2{
    padding: 0px;
}
.topheader{
        width: 100%;
        background-color: gray;
        padding: 23px;
    }
.leftdiv h6{
    color: white;
    font-size: 23px;
    font-style: italic;
}
.leftdiv button{
    margin-top: -38px;
    float: right;
    padding: 5px;
    border-radius: 17px;
    border: none;
    font-weight: 500;
}
.main_div{
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items:center;
        background-color: hsl(216deg 3% 92%);
    }
.center_div {
    width: 1105px;
    height: auto;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0px 3px 3px 1px #908989;
    position: relative;
    background-color: white;
}
.center_div .col-md-4{
    text-align: center;
}
.center_div .iplheading{
    text-align: left;
    font-size: 31px;
}
.team_2{
       width: 185px;
    padding-top: 62px;
}
.team_1{
    width: 150px;
}
.vs{
    font-size: 101px;
    color: red;
    padding-top: 56px;
}
.teamname1{
        font-size: 24px;
    font-weight: 500;
}
.teamname2{
        font-size: 24px;
    font-weight: 500;
}
.probility{
        color: red;
    padding: 25px;
    width: 100%;
}
.progress{
    width: 100%;
}
.classpro-div1{
    text-align: left;
        width: 50%;
}
.classpro-div1 p{
    margin:0px;
    font-weight: 700;
    color: #ff3434;
}
.classpro-div2 p{
    margin:0px;
    font-weight: 700;
    color: #002e66;
}
.classpro-div2{
    text-align: right;
        width: 50%;
}







/*resposive css*/

@media screen and (max-width: 500px) 
{
   .col-sm-4{
    width: 30%;
   }
   .center_div{
    width: 95%;
   }
   .leftdiv h6{
    font-size: 17px;
   }
   .leftdiv button {
    margin-top: -30px;
    float: right;
    padding: 4px;
    border-radius: 17px;
    border: none;
    font-weight: 500;
    font-size: 12px;
	}
    .team_1{
    width:82px;
	}
	.vs {
    font-size: 32px;
	}
    .team_2{
    width: 110px;
    padding-top: 28px;
}
.teamname2{
    padding-top: 18px;

}

}
