*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: sans-serif;
}
.col-md-2{
    padding: 0px;
}
.topheader{
        width: 100%;
        background-color: #05386b;
        padding: 12px 25px;
}
.footer{
        width: 100%;
        background-color: #005595;
        color: white;
        padding: 15px;
}
.footer a{
    color:white;
}
.leftdiv h6{
    color: white;
    font-size: 23px !important;
    /*! font-style: italic; */
}
.leftdiv a{
    margin-top: -38px;
    /*float: right;*/
}
.main_div{
        width: 100vw;
        margin: 2vw 0;
        display: grid;
        place-items:center;
        background-color: hsl(0, 0%, 100%);
    }
.center_div {
    width: 600px;
    height: auto;
    border-radius: 16px;
    padding: 10px 30px;
    box-shadow: 0px 3px 3px 1px #908989;
    position: relative;
    background-color: white;
}
.center_div .col-md-4{
    text-align: center;
}
.center_div .iplheading{
    text-align: left;
    font-size: 31px;
}
.teamlogo{
       width: 185px;
 }
.vs{
    width: 56px;
    color: red;
    /*! padding-top: 56px; */
}
.teamname{
        font-size: 24px;
    /*! font-weight: 500; */
}
.text{
        color: #002e66;
    padding: 0 20px;
    width: 100%;
}
#win{
    color: ebony;
    padding: 0 20px;
    width: 100%;
}
.progress{
    width: 100%;
}
.classpro-div1{
    text-align: left;
        width: 50%;
}
.classpro-div1 p{
    margin:0px;
    font-weight: 700;
    color: #ff3434;
}
.classpro-div2 p{
    margin:0px;
    font-weight: 700;
    color: #002e66;
}
.classpro-div2{
    text-align: right;
        width: 50%;
}
#tpb1{
background: #ff3434!important;
}
#tpb2{
	background: #002e66!important;
}
small{
    color: white;
}


/*resposive css*/

@media screen and (max-width: 500px) 
{
   .col-sm-4{
    width: 30%;
   }
   .center_div{
    width: 95%;
     /*! margin-top:5%; */
    padding: 30px;
   }
   .leftdiv h6{
    font-size: 17px;
   }
    .teamlogo{
    width:100px;
	}
}
.content-info {
    background: #f9f9f9;
    padding: 40px 0;
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    position: relative;
    padding-bottom: 100px
}

table {
    width: 100%;
    background: #fff;
    border: 1px solid #dedede
}

table thead tr th {
    padding: 20px;
    border: 1px solid #dedede;
    color: #000
}

table.table-striped tbody tr:nth-of-type(odd) {
    background: #f9f9f9
}

table.result-point tr td.number {
    width: 100px;
    position: relative
}

.text-left {
    text-align: left !important
}

table tr td {
    padding: 10px 20px;
    border: 1px solid #dedede
}

table.result-point tr td .fa.fa-caret-up {
    color: green
}

table.result-point tr td .fa {
    font-size: 20px;
    position: absolute;
    right: 20px
}

table tr td {
    padding: 10px 40px;
    border: 1px solid #dedede
}

table tr td img {
    max-width: 32px;
    float: left;
    margin-right: 11px;
    margin-top: 1px;
    border: 1px solid #dedede
}