*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: sans-serif;
}
.col-md-2{
    padding: 0px;
}
.topheader{
        width: 100%;
        background-color: #05386b;
        padding: 23px;
}
.footer{
        width: 100%;
        background-color: #005595;
        color: white;
        padding: 15px;
}
.footer a{
    color:white;
}
.leftdiv h6{
    color: white;
    font-size: 23px !important;
    /*! font-style: italic; */
}
.leftdiv a{
    margin-top: -38px;
    float: right;
}
.leftdiv a img{
    width: 30px;
}
.main_div{
        width: 100vw;
        height: 80vh;
        display: grid;
        place-items:center;
        background-color: hsl(216deg 3% 92%);
    }
.center_div {
    width: 600px;
    height: auto;
    border-radius: 16px;
    padding: 10px 30px;
    box-shadow: 0px 3px 3px 1px #908989;
    position: relative;
    background-color: white;
}
.center_div .col-md-4{
    text-align: center;
}
.center_div .iplheading{
    text-align: left;
    font-size: 31px;
}
.team_2{
       width: 185px;
    /*! padding-top: 20px; */
}
.team_1{
    width: 150px;
}
.vs{
    width: 56px;
    color: red;
    padding-top: 56px;
}
.teamname1{
        font-size: 24px;
    font-weight: 500;
}
.teamname2{
        font-size: 24px;
    font-weight: 500;
}
.text{
        color: #002e66;
    padding: 0 20px;
    width: 100%;
}
#win{
    color: ebony;
    padding: 0 20px;
    width: 100%;
}
.progress{
    width: 100%;
}
.classpro-div1{
    text-align: left;
        width: 50%;
}
.classpro-div1 p{
    margin:0px;
    font-weight: 700;
    color: #ff3434;
}
.classpro-div2 p{
    margin:0px;
    font-weight: 700;
    color: #002e66;
}
.classpro-div2{
    text-align: right;
        width: 50%;
}
#tpb1{
background: #ff3434!important;
}
#tpb2{
	background: #002e66!important;
}




/*resposive css*/

@media screen and (max-width: 500px) 
{
   .col-sm-4{
    width: 30%;
   }
   .center_div{
    width: 95%;
     margin-top:5%;
    padding: 30px;
   }
   .leftdiv h6{
    font-size: 17px;
   }
   .leftdiv button {
    margin-top: -30px;
    float: right;
    padding: 4px;
    border-radius: 17px;
    border: none;
    font-weight: 500;
    font-size: 12px;
	}
    .team_1{
    width:82px;
	}
	.vs {
    font-size: 32px;
	}
    .team_2{
    width: 110px;
    padding-top: 0px;
}
}
